VITE_SUPABASE_URL=https://vbkmvhkibupikgygpudz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZia212aGtpYnVwaWtneWdwdWR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3MjM1MzYsImV4cCI6MjEwNDI5OTUzNn0.9sRCeGwvPIyGDxQNMOWUSpUZx9_gkPyuw96NEp3gNVM
VITE_PADDLE_CLIENT_TOKEN=ptest_16b942cf891855037a619dfa796
VITE_PADDLE_ENV=sandbox
